//$sidebar-bg-color: #0c1e35;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(#0c1e35, 1);
$submenu-indent: 24px;
$sidebar-color: #b3b8d4;
$highlight-color: #dee2ec;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

$sidebar-width: 200px;
$sidebar-collapsed-width: 80px;

#sidebar.pro-sidebar{
  .pro-icon{
    color: white;
  }

  .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper{
    background-color: inherit;
  }

  &.collapsed{
    .react-slidedown{
      margin-left: $sidebar-collapsed-width;
      transform: translateY(-$icon-size);
      background-color: rgba(#0c1e35, 0.95) !important;
    }
    
    ul li a svg{
      margin: auto;
    }

    .pro-menu > ul .pro-menu-item.pro-sub-menu > .pro-inner-item > .pro-arrow-wrapper{
      display: inherit;
    }
  }
} 

@import '~react-pro-sidebar/dist/scss/styles.scss';

/*____________*/
#root{
  display: flex;
}

.page-container {
  width: 50%;
  margin: 50px auto;
  font-size: 15px;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.content
{
  width: 100%;
  //height: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  //padding-inline: 1em;
  overflow-y: scroll;

  background-color: gray;
}

.padded{
  padding-inline: 2em;
}

.flex{display: flex;}
.block{display: block;}

.btn-block {
  display: block;
  width: 100%;
}

.bold{font-weight: bold;}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.m0{margin: 0 !important;}

.ml-1{margin-left: 1rem !important;}
.ml-2{margin-left: 2rem !important;}
.ml-3{margin-left: 3rem !important;}
.ml-5{margin-left: 5rem !important;}

.ml-0_5{margin-left: 0.55rem !important;}

.mt-1{margin-top: 1rem !important;}
.mt-2{margin-top: 2rem !important;}
.mt-3{margin-top: 3rem !important;}
.mt-5{margin-top: 5rem !important;}
.mt-10{margin-top: 10rem !important;}

.mb-1{margin-bottom: 1rem !important;}
.mb-2{margin-bottom: 2rem !important;}
.mb-3{margin-bottom: 3rem !important;}

.pl-1{padding-left: 1rem !important;}
.pl-2{padding-left: 2rem !important;}

.no-t-decor{text-decoration: none !important;}

.no-select{user-select: none !important;}

.space-above {margin-top: 50px;}
.space-under {margin-bottom: 50px;}
.small {color: #333;}

.nav-link{
  color: #007bff;
  padding-inline: 0.5em;
  &:hover{
    cursor: pointer;
    color: #2e90f8;
  }
}

.dashboard-container{
  display: grid;
  margin: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);


  .dashboard-item{
    text-decoration: none;
    position: relative;

    div:not(.decor){
      background-color: #4BB3FD;
      padding: 2em 2em 2.2em 2em;
      text-align: center;
      color: #f7f7f7;
      font-size: large;
      border-top-right-radius: 40% 80%;
      border-bottom-left-radius: 40% 80%;
      position: relative;
    }

    div.decor{
      background-color: #393f4b !important;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &:hover{
      transform: scale(1.02);
      transition: all 0.25s ease-in;
    }

    &#di-admin{
      grid-column-start: 2;
      div{
        background-color: #04aa6d;
      }
    }

    &#di-own div{
      background-color: #6a51a0;
    }

    &#di-fav div{
      background-color: #da6b38;
    }

    &#di-top div{
      background-color: #4BB3FD;
    }
  }
}


#sidebar {
    ul {
      li {
        display: block;
        width: 100%;
        min-height: 48px;
        padding-block: 2px;

        .li-item, a {
          display: flex;
          text-decoration: none;
          margin: 0;
          background-color: inherit;
          border: none;
          user-select: none;
          cursor: pointer;
          height: 100%;
          min-height: 48px;
        }

        div.inner {
          padding-left: 10px;
          display: flex;
          align-items: center;
          
          color: white;
        }
      }

      .sidebar-profile {
        border: 2px solid #666;
        //width: 90% !important;
        margin-inline: auto;
        border-radius: 0.5em;
        display: block;
        
        max-width: 150px;
        a {
          padding-bottom: 7px;
          border-radius: 0.4em;

          div.title{
            display: block;

            div{
              display: flex;
              flex-direction: column;

              span{
                display: block;

                overflow-inline: hidden;
                text-overflow: ellipsis;
                max-width: 100px;
              }
            }
          }
        }
      }

      li a:hover:not(.active), .submenu-item:hover:not(.active) {
        background-color: #393f4b;
        border-radius: 0.5em;
        border-left: none !important;
        transition: color 0.5s;
        transition: background-color 0.5s;

        div.inner {
          color: #04aa6d;
        }
      }

      @keyframes swing {
        0% {
          transform: rotate(0deg);
        }
        10% {
          transform: rotate(10deg);
        }
        30% {
          transform: rotate(0deg);
        }
        40% {
          transform: rotate(-10deg);
        }
        50% {
          transform: rotate(0deg);
        }
        60% {
          transform: rotate(5deg);
        }
        70% {
          transform: rotate(0deg);
        }
        80% {
          transform: rotate(-5deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
      li:hover:not(.pro-sub-menu) a div.inner.icon svg
      {
        display: inline-block;
        animation: swing ease-in-out 0.5s 1 alternate;
      }
  
      small {
        display: block;
        color: #666;
      }
  
      .active, .submenu .active {
        color: white;
        background-color: #04aa6d !important;
        border-radius: 0.5em;
        transition: background-color 0.5s;
      }
    }
    .submenu-item{
      border-left: 2px solid #04aa6d !important;
      margin: 0;
      transition: background-color 0.5s;
    }

    .pro-sidebar-footer{
      padding: 0;
      nav{
        padding: 0;
      }
    }
}


.collection-wrapper {
  display: grid;
  grid-column-gap: 0.75em;
  grid-row-gap: 0.75em;
  grid-template-columns: repeat( auto-fill, minmax(240px, 1fr) );
  grid-auto-rows: 1fr;
}

#sidebar{
  user-select: none;

  .submenu {
    margin-left: 33px;
    border-left: 2px solid #04aa6d;
  }

  .icon {
    flex: 20%;
  }

  .title {
    flex: 80%;
  }

  .li-item:hover:not(.active), .submenu-item:hover:not(.active),
  li:hover:not(.pro-sub-menu) a:not(.active){
    color: #04aa6d;
    background-color: #393f4b;
  }

  .active, .active {
    color: white;
    background-color: #04aa6d !important;
  }

  .sidebar-toggle{
    align-content: center;
    display: grid;

    .btn-toggle{
      right: 0;
      padding: 10px 10px;
      cursor: pointer;
  
      &:hover{
        background-color: #333;
        transition: background-color 1s ease-out;
      }
    }
  }

  .pro-sidebar-header{
    border-bottom: none;
    margin-bottom: 0.5rem;

    .header-brand{
      padding-block: 0;
      text-transform: uppercase;
      
      & a{
        border-radius: 0.5em;

        &:not(.active){background-color: #04aa6d80 !important;}
        
        &:hover{
          background-color: #04aa6d !important;
          & div.inner{
            color: white;
            //background-color: #04aa6d !important;
          }
        }
      }
    }
  }

}

html body .fab-card-add{
  margin-left: auto;
  position: absolute;
  right: 57px;
  bottom: 57px;
  z-index: 999;
}

#login-container {
  width: 340px;
  margin: 50px auto 0 auto;
  font-size: 15px;
  background-color: #f7f7f7;
  padding-top: 1rem;

  .form-control {
    margin-bottom: 0px !important;
  }

  button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

    &:hover {
      opacity: 0.8;
    }

    &[type="reset"] {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }
  }

  form{
    margin-bottom: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }

  .container {
    padding: 16px;
  }

  span.forgotPsw {
    float: right;
    padding-top: 16px;
  }

  a.login-create,
  span.forgotPsw a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }

  .error {
    color: red;
    position: absolute;
    font-size: 0.8rem;
  }
}

.message {
  color: red;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}



@media only screen and (max-width: 810px) {
  html body .invisible-mobile{ 
    display: none !important;
  }

  .padded{
    padding-inline: 0;
  }

  .padded-mobile{
    padding-inline: 0.8em;
  }

  .dashboard-container{
    display: grid;
    margin: auto;
    grid-gap: 1em;
    grid-template-columns: repeat(1, 1fr);
    
    .dashboard-item#di-admin{
      grid-column-start: auto;
    }
  }

  .cards-wrapper{
    grid-template-columns: auto;
    .card{

    }
  }
}



.flipper {
  position: relative;
  cursor: pointer;

  //height computed in js

  &:hover {
    transform: scale(1.025);
    transition: transform 0.3s ease-in-out;
    border-radius: 2vw;
  }

  .front,
  .back {
    position: absolute;
    width: 100%;
    min-height: 200px;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    background-color: #fff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    padding: 10px 0.5em 0.1em 0.5em;
  }
}