//$sidebar-bg-color: #0c1e35;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(#0c1e35, 1);
$submenu-indent: 24px;
$sidebar-color: #b3b8d4;
$highlight-color: #dee2ec;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

$sidebar-width: 200px;
$sidebar-collapsed-width: 80px;

#sidebar.pro-sidebar{
  .pro-icon{
    color: white;
  }

  .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper{
    background-color: inherit;
  }

  &.collapsed{
    .react-slidedown{
      margin-left: $sidebar-collapsed-width;
      transform: translateY(-$icon-size);
      background-color: rgba(#0c1e35, 0.95) !important;
    }
    
    ul li a svg{
      margin: auto;
    }

    .pro-menu > ul .pro-menu-item.pro-sub-menu > .pro-inner-item > .pro-arrow-wrapper{
      display: inherit;
    }
  }
} 

@import '~react-pro-sidebar/dist/scss/styles.scss';

/*____________*/
#root{
  display: flex;
}

.page-container {
  width: 50%;
  margin: 50px auto;
  font-size: 15px;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#content {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
}

.content
{
  place-items: center;
  max-width: 90%;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}



.space-above {margin-top: 50px;}
.space-under {margin-bottom: 50px;}
.small {color: #333;}

#sidebar {
    ul {
      li {
        display: block;
        width: 100%;
        min-height: 48px;
        padding-block: 2px;

        .li-item, a {
          display: flex;
          text-decoration: none;
          margin: 0;
          background-color: inherit;
          border: none;
          user-select: none;
          cursor: pointer;
          height: 100%;
          min-height: 48px;
        }

        div.inner {
          padding-left: 10px;
          display: flex;
          align-items: center;
          
          color: white;
        }
      }

      .sidebar-profile {
        border: 2px solid #666;
        //width: 90% !important;
        margin-inline: auto;
        border-radius: 0.5em;
        display: block;
        
        max-width: 150px;
        a {
          padding-bottom: 7px;
          border-radius: 0.4em;

          div.title{
            display: block;

            div{
              display: flex;
              flex-direction: column;

              span{
                display: block;

                overflow-inline: hidden;
                text-overflow: ellipsis;
                max-width: 100px;
              }
              small{
                
              }
            }
          }
        }
      }

      li a:hover:not(.active), .submenu-item:hover:not(.active) {
        background-color: #393f4b;
        border-radius: 0.5em;
        border-left: none !important;
        transition: color 0.5s;
        transition: background-color 0.5s;

        div.inner {
          color: #04aa6d;
        }
      }

      @keyframes swing {
        0% {
          transform: rotate(0deg);
        }
        10% {
          transform: rotate(10deg);
        }
        30% {
          transform: rotate(0deg);
        }
        40% {
          transform: rotate(-10deg);
        }
        50% {
          transform: rotate(0deg);
        }
        60% {
          transform: rotate(5deg);
        }
        70% {
          transform: rotate(0deg);
        }
        80% {
          transform: rotate(-5deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
      li:hover:not(.pro-sub-menu) a div.inner.icon svg
      {
        display: inline-block;
        animation: swing ease-in-out 0.5s 1 alternate;
      }
  
      small {
        display: block;
        color: #666;
      }
  
      .active, .submenu .active {
        color: white;
        background-color: #04aa6d !important;
        border-radius: 0.5em;
        transition: background-color 0.5s;
      }
    }
    .submenu-item{
      border-left: 2px solid #04aa6d !important;
      margin: 0;
      transition: background-color 0.5s;
    }

    .pro-sidebar-footer{
      padding: 0;
      nav{
        padding: 0;
      }
    }
}




.collection-wrapper {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-template-columns: repeat( auto-fill, minmax(260px, 1fr) );
  grid-auto-rows: 1fr;
}

#sidebar{
  user-select: none;

  .submenu {
    margin-left: 33px;
    border-left: 2px solid #04aa6d;
  }

  .icon {
    flex: 20%;
  }

  .title {
    flex: 80%;
  }

  .li-item:hover:not(.active), .submenu-item:hover:not(.active),
  li:hover:not(.pro-sub-menu) a:not(.active){
    color: #04aa6d;
    background-color: #393f4b;
  }

  .active, .active {
    color: white;
    background-color: #04aa6d !important;
  }

  .sidebar-toggle{
    align-content: center;
    display: grid;

    .btn-toggle{
      right: 0;
      padding: 10px 10px;
      cursor: pointer;
  
      &:hover{
        background-color: #333;
        transition: background-color 1s ease-out;
      }
    }
  }

  .pro-sidebar-header{
    border-bottom: none;
    margin-bottom: 0.5rem;

    .header-brand{
      padding-block: 0;
      text-transform: uppercase;
      
      & a{
        border-radius: 0.5em;

        &:not(.active){background-color: #04aa6d80 !important;}
        
        &:hover{
          background-color: #04aa6d !important;
          & div.inner{
            color: white;
            //background-color: #04aa6d !important;
          }
        }
      }
    }
  }

}
